body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.header-logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.profile-form {
    text-align: left;
}

.profile-form > label.check {
    margin-top: 5px;
}

.profile-form > label {
    margin-top: 15px;
}

.column-left {
    text-align: left;
}

.merchandise {
    background-color: #337AB7;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    top: 20px;
    border-radius: 0px 0px 5px 5px;
    margin-top: -20px;
    font-size: 18pt;
}